.header{
	background: url(images/studio.jpg);
	background-repeat: no-repeat;
	height: 50vh;
	align-content: center;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.header h1{

}
.header p
{
		font-size: 35px;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.contactus{
	background: url(images/map.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}


        .timeline {
            position: relative;
            padding: 20px 0;
        }
        .timeline::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 2px;
            background: #ddd;
            left: 50%;
            transform: translateX(-50%);
        }
        .timeline-item {
            position: relative;
            margin: 20px 0;
        }
        .timeline-item .timeline-icon {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            background-color: white;
            border: 3px solid #ddd;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .timeline-item .timeline-content {
            padding: 20px;
            background-color: #fff; /* White background */
            border-radius: 0; /* No rounded corners */
            position: relative;
            width: 45%;
            box-shadow: none; /* No box shadow */
        }
        .timeline-item:nth-child(odd) .timeline-content {
            left: 0;
        }
        .timeline-item:nth-child(even) .timeline-content {
            left: 55%;
        }
        .timeline-item:nth-child(even) .timeline-icon {
            top: -25px;
        }
        .timeline-item:nth-child(odd) .timeline-icon {
            top: -25px;
        }
